@using Shopping_Website.Models;
@{
    ViewBag.Title = "Products Page";
}
<h2>Products</h2>
<ul class="nav nav-pills nav-stacked" role="tablist" style="float:left;margin-top:15px; background-color:#e3f2fd; border-radius: 5px;">
    <li>@Html.ActionLink("Greeting Cards", "GreetingCards", "Product")</li>
    <li>@Html.ActionLink("Notebook", "Notebook", "Product")</li>
    <li>@Html.ActionLink("Stationery", "Stationery", "Product")</li>
    <li>@Html.ActionLink("Easter Gifts", "EasterGifts", "Product")</li>
    <li>@Html.ActionLink("Bath & Body", "BathBody", "Product")</li>
    <li>@Html.ActionLink("Candles", "Candles", "Product")</li>
</ul>
<div style="margin-left:11%;padding:10px;height:auto;">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var value in (IEnumerable<ProductModel>)ViewData["Products"])
                {
                <tr>
                    <td>@value.Name</td>
                    <td>@value.Category</td>
                    <td><b>$</b>@value.Price</td>
                    <td>
                        <a class="btn btn-primary" href='@string.Format("/Product/ProductDetail?id={0}", value._id)'>View</a>
                    </td>
                </tr>
                }
            </tbody>
            <tfooter>
            </tfooter>
        </table>
    </div>
</div>
<br style="clear:both;"/>


