
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<div class="table-responsive">
    <p>
        Fill in the fields below to create an account. You'll be able to shop and check
        out faster on your next visit and check your order status online
    </p>
    @using (Ajax.BeginForm("Registration", "Login", new AjaxOptions { HttpMethod = "POST" }))
    {
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th style="width:15%;">First Name: </th>
                    <td>@Html.TextBox("firstname", "",new { required = "required", placeholder = "Enter first name"})</td>
                </tr>
                <tr>
                    <th>Last Name: </th>
                    <td>@Html.TextBox("lastname", "", new { required = "required", placeholder = "Enter last name" })</td>
                </tr>
                <tr>
                    <th>Username: </th>
                    <td>@Html.TextBox("username", "", new { required = "required", placeholder = "Enter username" })</td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td>@Html.TextBox("password", "", new { required = "required", placeholder = "Enter password", type="password" })</td>
                </tr>
                <tr>
                    <th>Email Address:</th>
                    <td>@Html.TextBox("email", "", new { required = "required", placeholder = "Enter email address" })</td>
                </tr>
                <tr>
                    <th>Phone Number: </th>
                    <td>@Html.TextBox("phone", "", new { required = "required", placeholder = "Enter phone number", pattern = "[0-9]{10}" })</td>
                </tr>
                <tr>
                    <th>Address: </th>
                    <td>@Html.TextBox("address", "", new { required = "required", placeholder = "Enter address" })</td>
                </tr>
                <tr>
                    <th>City: </th>
                    <td>@Html.TextBox("city", "", new { required = "required", placeholder = "Enter city" })</td>
                </tr>
                <tr>
                    <th>State: </th>
                    <td>@Html.TextBox("state", "", new { required = "required", placeholder = "MA, IA, KS, ..."})</td>
                </tr>
                <tr>
                    <th>Zip Code: </th>
                    <td>@Html.TextBox("zipcode", "", new { required = "required", placeholder = "Enter zip code" })</td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-success">
                        <a class="btn btn-danger" href="/Product/Index">Cancel</a> 
                    </td>
                </tr>
            </tfooter>
        </table>
    }
</div>

