@using Shopping_Website.Models;
@{
    ViewBag.Title = "Candles";
}

<h2>Candles</h2>
<ul class="nav nav-pills nav-stacked" role="tablist" style="float:left;margin-top:15px; background-color:#e3f2fd; border-radius: 5px;">
    <li>@Html.ActionLink("Customers", "Customers", "Admin")</li>
    <li>@Html.ActionLink("Orders", "Orders", "Admin")</li>
    <li>@Html.ActionLink("Products", "Products", "Admin")</li>
    <li>@Html.ActionLink("Search", "Search", "Admin")</li>
</ul>
<div style="margin-left:11%;padding:10px;height:auto;">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var value in (IEnumerable<ProductModel>)ViewData["Candles"])
                {
                    <tr>
                        <td>@value.Name</td>
                        <td>@value.Category</td>
                        <td><b>$</b>@value.Price</td>
                        <td>
                            <a class="btn btn-primary" href='@string.Format("/Admin/ProductDetail?id={0}", value._id)'>View</a>
                            <a class="btn btn-primary" href='@string.Format("/Admin/EditProduct?id={0}", value._id)'>Edit</a>
                            <a class="btn btn-primary" href='@string.Format("/Admin/DeleteProduct?id={0}", value._id)'>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfooter>
            </tfooter>
        </table>
    </div>
</div>
<br style="clear:both;" />


